* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-basis: 100%;
}

.header {
    height: 10vh;
    border: 1px solid red;
}

.main-content {
    height: 85vh;
    border: 1px solid red;
    display: flex;
    justify-content: center;

}

.card-area {
    width: 800px;
    height: 100%;
    border: 1px solid red;
}

.oneCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 200px;
}

.footer {
    height: 5vh;
    border: 1px solid red;
}